:root {
  --main-color: #20c4c6;
  --logo-color: #107d7f;
  --text-color: #777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
body::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  bottom: -195px;
  left: -225px;
  background-color: #20c3c662;
  z-index: -1;
}
body::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  bottom: -250px;
  left: 50px;
  background-color: #20c3c662;
  z-index: -1;
}
@media (max-width: 768px) {
  body::after {
    bottom: -160px;
    left: -316px;
  }
  body::before {
    bottom: -215px;
    left: -125px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.card {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .card {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1170px;
  }
}
img {
  width: 100%;
}
/* Start Header */
.navbar {
  height: 55px;
}
.navbar .card {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: space-between;
}
.navbar .logo,
.navbar .logo a {
  color: var(--logo-color);
  font-size: 22px;
  font-weight: bold;
}
.navbar .divider {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0;
  cursor: pointer;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  direction: rtl;
}
.navbar .divider span {
  width: 40px;
  height: 2px;
  background-color: var(--main-color);
  display: inline-block;
  margin: 3px 0;
}
.navbar .divider span:nth-child(1) {
  width: 40px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.navbar .divider span:nth-child(2) {
  width: 30px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.navbar .divider span:nth-child(3) {
  width: 15px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.navbar .divider:hover span:nth-child(2) {
  width: 40px;
}
.navbar .divider:hover span:nth-child(3) {
  width: 40px;
}
.navbar .links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .links a {
  padding: 20px 0;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
  position: relative;
  margin: 20px;
}
.navbar .links a.active::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 6px;
  top: 0.5px;
  border-radius: 10px;
}
.navbar .join a {
  padding: 5px 20px;
  border-radius: 15px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  margin: 0 5px;
  font-size: 16px;
  transition: background-color 0.3s linear;
}
.navbar .join a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.navbar .join a:nth-child(2) {
  background-color: var(--main-color);
  color: #fff;
}
.navbar .join a:nth-child(2):hover {
  background-color: transparent;
  color: var(--main-color);
}

@media (max-width: 768px) {
  .navbar .links {
    position: relative;
  }
  .navbar .links .divider {
    display: flex;
  }
  .navbar .links ul {
    flex-direction: column;
    background-color: var(--logo-color);
    padding: 10px;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 200px;
    height: 200px;
    z-index: -5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    border-radius: 15px;
  }
  .navbar .links a.active::before {
    width: 0;
  }
  .navbar .links ul a {
    color: #eee;
    border-bottom: 1px solid var(--main-color);
  }
  .navbar .links a.active {
    color: #fff;
    border-bottom: 3px solid var(--main-color);
  }
  .navbar .join {
    display: none;
  }
}
/* End Header */
/* Start Home Landing Page And About Page */
.main-content {
  height: calc(100vh - 55px);
  width: 100%;
}
.main-content .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .text h1 {
  font-size: 60px;
  color: var(--main-color);
  line-height: 1.7;
  margin-bottom: 10px;
}
.main-content .text h1 span {
  color: var(--logo-color);
}
.main-content .text p {
  color: var(--text-color);
  width: 400px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.7;
}
.main-content .text a {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: 15px;
  color: #fff;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--main-color);
  transition: background-color 0.3s linear;
}
.main-content .text .join {
  display: none;
}
.main-content .text a:hover {
  background-color: transparent;
  color: var(--main-color);
}
@media (max-width: 768px) {
  .main-content {
    text-align: center;
  }
  .main-content .card {
    display: block;
  }
  .main-content .text p {
    width: auto;
  }
  .main-content .img {
    display: none;
  }
  .main-content .text a:not(.main-content .text .join a) {
    width: 100%;
  }
  .main-content .text .join {
    display: flex;
    justify-content: space-around;
  }
}
/* End Home Landing Page And About Page */
/* Satrt Contact Page */
.contact h1 {
  margin: 10px;
}
.contact form {
  display: flex;
  justify-content: space-around;
}
.contact form input {
  width: 200px;
  height: 45px;
  padding: 10px;
  color: var(--main-color);
  border-radius: 20px;
  border: 2px solid var(--main-color);
  font-size: 16px;
  margin: 10px;
}
.contact form input:focus {
  outline: none;
}
.contact form input::placeholder,
.contact textarea::placeholder {
  color: var(--main-color);
}
.contact textarea {
  width: 96%;
  margin: 0 10px;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  resize: none;
  color: var(--main-color);
}
.contact textarea:focus {
  outline: none;
}
.contact button {
  width: 200px;
  height: 40px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .contact form input {
    width: 50%;
  }
}
/* End Contact Page */
/* Start Sign in Ang Sign Up */
.sign h1 {
  font-size: 50px;
  color: var(--main-color);
  line-height: 1.7;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.sign .form {
  width: 400px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.sign .form input {
  width: 90%;
  border: 2px solid #20c3c662;
  border-radius: 20px;
  padding: 15px 10px;
  background-color: #20c3c662;
  color: #333;
}
.sign .form input:focus {
  outline: none;
}
.sign .form input::placeholder {
  color: #333;
}
.sign .form a:not(.sign .massage.bad a) {
  color: var(--main-color);
  font-size: 14px;
}
.sign .form button {
  width: 200px;
  height: 40px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  display: block;
  cursor: pointer;
}
.sign .form .or {
  color: var(--main-color);
  user-select: none;
  font-size: 14px;
}
.sign .form .icons i {
  margin: 5px;
  color: var(--main-color);
  font-size: 20px;
  cursor: pointer;
}
.sign .massage.good {
  color: var(--main-color);
  font-size: 20px;
}
.sign .massage.bad {
  color: red;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .sign .form {
    width: 100%;
  }
}
/* End Sign in */
